extends ../layout

block content
  .page-header
    //
       Logo 
    h1#logo(style="font-size: 150px; margin-top: -0.5em;") SkillFill
    p.tagline Revolutionizing the way professionals learn
    br
    h3 Sign in
  center 
    a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin' style="width: 50%")
      i.fa.fa-linkedin
      | Sign in with LinkedIn