//
   About Section 
section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Why SkillFill?
        h3.section-subheading.text-muted SkillFill aims to nurture professionals by providing them with the skills they need today to fulfill their dreams of tomorrow. 
        p As professionals, we always strive to . At SkillFill, we are dedicated to providing professionals with the tools they need to get to the next level. Each user's skills are individually analyzed gainst the job market for new relevant and valuable skills. We strive to ensure that our users are provided with the courses and books they need to ... Whether it be looking for employment or promotions, not knowing where and how to learn the related skills will never be a problem again. 