footer(style="background: transparent;")
  .navbar-fixed-bottom.container.text-center
    p.pull-left © 2014 SkillFill. All Rights Reserved
    //- ul.pull-right.list-inline
      //- li
      //-   a(href='https://github.com/sahat/hackathon-starter')
      //-     span.ion-fork-repo
      //-     | GitHub Project
      //- li
      //-   a(href='https://github.com/sahat/hackathon-starter/issues')
      //-     span.ion-alert
      //-     | Issues
