footer
    .container
        span.pull-left.copyright © SkillFill 2014
        ul.pull-right.list-inline.quicklinks
          li
            a(href='https://github.com/pramodsum/skillfill-issues/issues')
              span.ion-alert
              | Issues
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Use