//
   Team Section
section#team.bg-light-gray
  .container
    .row
      .text-center
        h2.section-heading Our Amazing Team
        //-h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-xs-6
        .team-member
          img.img-responsive.img-circle(src='images/team/sumedha.jpeg', alt='')
          h4 Sumedha Pramod
          //- p.text-muted Lead Designer
          ul.list-inline.social-buttons
              li
                a(href='https://twitter.com/pramodsum')
                  i.fa.fa-team.fa-twitter
              li
                a(href='https://github.com/pramodsum')
                  i.fa.fa-team.fa-github
              li
                a(href='https://linkedin.com/in/pramodsum')
                  i.fa.fa-team.fa-linkedin
      .col-xs-6
        .team-member
          img.img-responsive.img-circle(src='images/team/stewart.jpg', alt='')
          h4 Stewart Whiting
          //- p.text-muted Lead Designer
          ul.list-inline.social-buttons
              li
                a(href='https://twitter.com/stewhir')
                  i.fa.fa-team.fa-twitter
              li
                a(href='https://github.com/stewhir')
                  i.fa.fa-team.fa-github
              li
                a(href='https://linkedin.com/in/stewhir ')
                  i.fa.fa-team.fa-linkedin
      //- .col-xs-3
      //-   .team-member
      //-     img.img-responsive.img-circle(src='images/team/jordan.jpg', alt='')
      //-     h4 Jordan Kunzika
      //-     //- p.text-muted Lead Designer
      //-     ul.list-inline.social-buttons
      //-         //-li
      //-           a(href='#')
      //-             i.fa.fa-team.fa-twitter
      //-         li
      //-           a(href='https://github.com/jkunzika')
      //-             i.fa.fa-team.fa-github
      //-         li
      //-           a(href='https://linkedin.com/in/jordankunzika')
      //-             i.fa.fa-team.fa-linkedin
      //- .col-xs-3
      //-   .team-member
      //-     img.img-responsive.img-circle(src='images/team/jeff.jpg', alt='')
      //-     h4 Jeff Tian
      //-     //- p.text-muted Lead Designer
      //-     ul.list-inline.social-buttons
      //-         //-li
      //-           a(href='#')
      //-             i.fa.fa-team.fa-twitter
      //-         li
      //-           a(href='https://github.com/yt336')
      //-             i.fa.fa-team.fa-github
      //-         li
      //-           a(href='https://linkedin.com/in/jefftian16')
      //-             i.fa.fa-team.fa-linkedin
