<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Api Test</title>
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <script type="text/javascript">
function test(){
    console.log("hello world!");
    
    get("http://www.khanacademy.org/api/v1/topictree",{});
}

function get(url, json)
{
  var xhr = new XMLHttpRequest();
  xhr.open("GET", url, true);
  xhr.onreadystatechange = function()
    {
        if (xhr.readyState == 4)
        {
            console.log(JSON.parse(xhr.responseText));
        }
    }

  xhr.send();
}
    </script>
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <input id="url"></input>
        <button onclick="test()">Test Button</button>
      </header>
      <div id="body" align="center">
      </div>
    </section>

    <!-- Scripts here. Don't remove this ↓ -->
  </body>
</html>