extends layout

block content
  section#contact.main.style3.secondary
    .content.container
      header
        h2 Say Hello.
        p Let us know what you think or just say hi!
      .box.container.small
        // Contact Form
           
           To get this working, place a script on your server to receive the form data, then
           point the "action" attribute to it (eg. action="http://mydomain.tld/mail.php").
           More on how it all works here: http://www.1stwebdesigner.com/tutorials/custom-php-contact-forms/
                      
        form(method='post', action='#' role='form')
          .row.half
            .6u
              input(type='text', name='name', placeholder='Name')
            .6u
              input(type='text', name='email', placeholder='Email')
          .row.half
            .12u
              textarea(name='message', placeholder='Message', rows='6')
          .row
            .12u
              ul.actions
                li
                  input.button(type='submit', value='Send Message')