<!DOCTYPE html>
<html>
<head>
    <title></title>

<!--
var course = 
{   
    kind: 'customsearch#result',
    title: 'Machine Learning | Coursera',
    htmlTitle: '<b>Machine Learning</b> | Coursera',
    link: 'https://www.coursera.org/course/ml',
    displayLink: 'www.coursera.org',
    snippet: 'Machine learning is the science of getting computers to act without
    being \nexplicitly programmed. In the past decade, machine learning has given us
    self-\ndriving ...',
    htmlSnippet: '<b>Machine learning</b> is the science of getting computers to a
    ct without being <br>\nexplicitly programmed. In the past decade, <b>machine lea
    rning</b> has given us self-<br>\ndriving&nbsp;...',
    cacheId: 'fARu1uqBk0UJ',
    formattedUrl: 'https://www.coursera.org/course/ml',
    htmlFormattedUrl: 'https://www.coursera.org/course/ml',
    pagemap:
    { 
        cse_image: [ [Object] ],
        cse_thumbnail: [ [Object] ],
        metatags: [ [Object] ] 
    } 
}

-->
</head>
<body>

<script> 
console.log(\n\n\n);
console.log(course);
console.log(\n\n\n);
</script>


<h1> Welcome back, <%=course.title%>! </h1>

<%-course.htmlSnippet%>

<a href=<%=course.link%>> Link to Coursera course </a>

</body>
</html>