<!DOCTYPE html>
<html>

<!--
{
	L1RankedSkills: [
		{
			SkillName: "python",
			LookupProfileRelatedSkills: [
				"ruby",
				"java"
			],
			TFInJobAds: 21,
			DFInJobAds: 2,
			MedianSalary: 95880,
			AvgSalary: 95295.5,
			SalarySampleSize: 6,
			JobAvailability: 100,
			JobRecency: 5.4225255075370375,
			L1Score: 2.417808975089369,
			L2Score: 38372.18309014177
		}
	]
	L2RankedSkills: [
		{
			SkillName: "python",
			LookupProfileRelatedSkills: [
				"ruby",
				"java"
			],
			TFInJobAds: 21,
			DFInJobAds: 2,
			MedianSalary: 95880,
			AvgSalary: 95295.5,
			SalarySampleSize: 6,
			JobAvailability: 100,
			JobRecency: 5.4225255075370375,
			L1Score: 2.417808975089369,
			L2Score: 38372.18309014177
		}
	]
}
-->

<h1> you should learn <%=results.L2RankedSkills[0].SkillName%>! </h1>
<br/>
<p> its L2 score was <%=results.L2RankedSkills[0].L2Score%> </p>

</html>