<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rendezvous</title>
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
  </head>
  <body>
  	<section id="todoapp">
      <div id="body" align="center">
  		<div class="jumbotron">Uh oh... You fucked up somewhere!</div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/bootstrap/js/bootstrap.min.js"></script>
    <!-- Scripts here. Don't remove this ↓ -->
  </body>
</html>