extends layout
block content
    //
         Header 
    header
      .container
        .intro-text
            div.well
                img(src="logos/skillfill_logo.png").img-responsive
                .intro-lead-in Revolutionizing the way professionals learn
                a.page-scroll.btn.btn-xl(href='#about') Tell Me More
    .sections
        include partials/about
        include partials/team
        include partials/login