extends layout
block content
  //
     Logo 
  section
      h1#logo SkillFill
      p.tagline Revolutionizing the way professionals learn
        center.box
          form(action='//herokuapp.us8.list-manage.com/subscribe/post?u=924f051bc8d12bae14eb86217&id=0c8e94d61c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
            label(for='mce-EMAIL') Enter your email to join our exclusive invite list. 
            input(type='email', value='', name='EMAIL', placeholder='email address', required='required')
            button.button(class="btn btn-info btn-lg" type='submit', value='Subscribe', name='subscribe' style="top: 1em") Subscribe
  //- //.
  //-    Team
  //- section#team.main.style3.dark.fullscreen
  //-   .content.container.small
  //-     p
  //-       //
  //-            Highlight 
  //-       section.is-highlight
  //-         ul.special
  //-           li
  //-             a.ion-person(href='#')
  //-               //- span Sumedha Pramod
  //-           li
  //-             a.ion-person(href='#')
  //-               //- span Stewart Whiting
  //-           li
  //-             a.ion-person(href='#')
  //-               //- span Johnson Hseih
  //-           li
  //-             a.ion-person(href='#')
  //-               //- span Jordan Kunzaki
  //-           li
  //-             a.ion-person(href='#')
  //-               //- span Jeff Tian
  //-         header
  //-           h2 The Team
  //-           span.byline it contains: many items that seem important but actually aren’t
  //-         p
  //-           | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu
  //-           br
  //-           | ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
  //- //