extends layout
block content
    //
         Header 
    header
      .container
        .intro-text
            div.well
                img(src="logos/skillfill_logo.png").img-responsive
                .intro-lead-in Revolutionizing the way professionals learn
                a.page-scroll.btn.btn-xl(href='#about') Tell Me More
    .sections
        //
           About Section 
        section#about
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Why SkillFill?
                h3.section-subheading.text-muted SkillFill aims to nurture professionals by providing them with the skills they need today to fulfill their dreams of tomorrow. 
                p As professionals, we always strive to . At SkillFill, we are dedicated to providing professionals with the tools they need to get to the next level. Each user's skills are individually analyzed gainst the job market for new relevant and valuable skills. We strive to ensure that our users are provided with the courses and books they need to ... Whether it be looking for employment or promotions, not knowing where and how to learn the related skills will never be a problem again. 
        //
           Team Section 
        section#team.bg-light-gray
          .container
            .row
              .text-center
                h2.section-heading Our Amazing Team
                h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
            .row
              .col-sm-4
                .team-member
                  img.img-responsive.img-circle(src='images/team/sumedha.jpeg', alt='')
                  h4 Sumedha Pramod
                  //- p.text-muted Lead Designer
              .col-sm-4
                .team-member
                  img.img-responsive.img-circle(src='images/team/stewart.jpg', alt='')
                  h4 Stewart Whiting
                  //- p.text-muted Lead Designer
              .col-sm-4
                .team-member
                  img.img-responsive.img-circle(src='images/team/jordan.jpg', alt='')
                  h4 Jordan Kunzika
                  //- p.text-muted Lead Designer
            .row
              .col-sm-2
              .col-sm-4
                .team-member
                  img.img-responsive.img-circle(src='images/team/jeff.jpg', alt='')
                  h4 Jeff Tian
                  //- p.text-muted Lead Designer
              .col-sm-4
                .team-member
                  img.img-responsive.img-circle(src='images/team/johnson.jpg', alt='')
                  h4 Johnson Hseih
                  //- p.text-muted Lead Designer
              .col-sm-2
            .row
              .col-lg-8.col-lg-offset-2.text-center
                p.large.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
        //
           Clients Aside 
        section#login
          .container
            .row
              //
                 Login 
              if !user
                  h2 Let's get started!
                  br
                  div.login-btn
                    a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
                        i.fa.fa-linkedin
                        | Sign in with LinkedIn
              else
                if user.profile.picture
                  img(src='#{user.profile.picture}' class="img-circle" style="height: 10em")
                else
                  img(src='#{user.gravatar(60)}')
                h2 Welcome back #{user.profile.name || user.email || user.id}
                br
                a.button(href='/suggestions') Let's Begin
