extends layout
block content
    //
         Header
    header
      .container
        .intro-text
          .container
            br
            img(src="logos/skillfill_logo.png").img-responsive
            .intro-lead-in Revolutionizing the way professionals learn
            a.page-scrollolll.btn.btn-xl(href='#about') Tell Me More
            br
            br
    .sections
        include partials/about
        include partials/team
        include partials/login
