extends layout
block content
  //
       Header
  header
    .container
      .intro-text
        .container
          br
          img(src="logos/skillfill_logo.png").img-responsive
          .intro-lead-in Revolutionizing the way professionals learn
  .sections
    .container
      p
        p
          span.tagline.suggestions Hmmmm...Well according to my calculations, the following subjects are valuable for you to learn
        center
          ul.list-inline
            - for (var i=0; i<skillSuggestions.length; i++)
              li
                span.label.label-info #{skillSuggestions[i]}
            - if(i == 4) 
              br
        hr
        ul#myTabs.nav.nav-tabs(role='tablist')
          li.active
            a(href='#suggestions', data-toggle='pill') Suggested
          //- li
          //-   a(href='#completed', data-toggle='pill') Completed
          //- li
          //-   a(href='#friends', data-toggle='pill') Friends & Coworkers
        .tab-content
          #suggestions.tab-pane.fade.in.active
            include suggestions/suggested
          #completed.tab-pane.fade 
            include suggestions/completed
          #friends.tab-pane.fade 
            include suggestions/friends
